flask==2.2.5
werkzeug==2.2.3
Jinja2==3.1.2
itsdangerous==2.1.2
click==8.1.7
requests==2.31.0
flask-socketio==5.3.6
eventlet==0.33.3
Flask-Compress==1.13
gunicorn==21.2.0
pyOpenSSL==23.3.0
pytest==7.4.3
flake8==6.1.0